.container{
    display: flex;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    width: 500px;
    height: 500px;
}

.parent{
    width: 50%;
    height: 50%;
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child{
    width: 50%;
    height: 50%;
    background-color: black;
}